HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=vastites_cms
DATABASE_USERNAME=your-db-user
DATABASE_PASSWORD=your-db-password

# Email (SMTP)
SMTP_HOST=smtp-hve.office365.com
SMTP_PORT=587
SMTP_USERNAME=newsletter@yourdomain.com
SMTP_PASSWORD=your-smtp-password
SMTP_FROM=newsletter@yourdomain.com
SMTP_TO=info@yourdomain.com
